{{!< default}}
<div class="container">
	<div class="jumbotron"><img src="/images/logo.svg" width="160">
		<h1>{{__ "Welcome"}}</h1>
		<p>Isto é um esqueleto de um website feito em  <a href='http://keystonejs.com' target='_blank'>KeystoneJS</a> </p>
		<hr>
		<p>Toma aí uma conta de admin para entrares à GRANDE </p>
		<p><strong>user: joaoliveira1990@gmail.com</strong></p>
		<p><strong>password: 123456</strong>.</p>
		<p><a href="/keystone/signin" style="margin-right: 10px" class="btn btn-lg btn-primary">Entrar</a></p>
		<p>e... Já tem MULTILANG :OOOOO</p>
		<p>Ainda não programei foi o botão para trocar de lingua, mas mete no url do browser isto <strong>https://galtrailertest.herokuapp.com/pt</strong>
			ou isto <strong>https://galtrailertest.herokuapp.com/en</strong> e vê a palavra Welcome/Bem-Vindo a mudar
		</p>

		<hr>

		<p>
			algum trabalhinho ainda, mas as funcionalidades ja estão implementadas e o esqueleto está feito
		</p>


		<h1>{{__ "Welcome"}}</h1>
		<p>Isto é um esqueleto de um website feito em  <a href='http://keystonejs.com' target='_blank'>KeystoneJS</a> </p>
		<hr>
		<p>Toma aí uma conta de admin para entrares à GRANDE </p>
		<p><strong>user: joaoliveira1990@gmail.com</strong></p>
		<p><strong>password: 123456</strong>.</p>
		<p><a href="/keystone/signin" style="margin-right: 10px" class="btn btn-lg btn-primary">Entrar</a></p>
		<p>e... Já tem MULTILANG :OOOOO</p>
		<p>Ainda não programei foi o botão para trocar de lingua, mas mete no url do browser isto <strong>https://galtrailertest.herokuapp.com/pt</strong>
			ou isto <strong>https://galtrailertest.herokuapp.com/en</strong> e vê a palavra Welcome/Bem-Vindo a mudar
		</p>

		<hr>

		<p>
			algum trabalhinho ainda, mas as funcionalidades ja estão implementadas e o esqueleto está feito
		</p>
	</div>
</div>
